/*-----------------------------------------------*/
/*Basic Setup*/
/*-----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color:#555555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; 
}

/*----REUSEABLE COMPONENTS----*/


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/*-----HEADINGS-----*/


h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    
}

/*-----PARAGRAPH------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    text-align: center;
    margin: 0 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: justify;
    
}

/*-----FEATURES SECTION-----*/

.section-features .long-copy {
    margin-bottom: 30px;
}


/*-----HEADER-----*/

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.logo {
    height: 100px;
    width: auto;
    float: left; 
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;/*--if we don't use this line then we will get a white border-bottom, if we hover--*/
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22; 
    transition: border-bottom 0.2s;
}


/*-----BUTTONS-----*/


.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 2px solid #e67e22;
    color: #ffffff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 2px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #cf6d17;
    color: #ffffff;
}


/*-----COLOUMN-----*/

.box {
    padding: 1%; 
}

/*-----ICON-----*/

.icon-big {
    margin: 20px 0;
    color: #e67e22;
    font-size: 300%;
  --ionicon-stroke-width: 16px;
}

.city {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 100%;
    margin-right: 10px;
    line-height: 100%;
    vertical-align: middle;
    margin-top: -2px;
}

/*----LINKS----*/

.a:link,
.a:active {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #0bfa27;
}


/*----MEALS----*/

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%; /*--we have 4 image in a row. so 25%*4=100% width---*/    
}

.meal-photo {
    overflow: hidden;
    background: #000000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    margin: 0;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}


.section-meals {
    padding: 0;
}

/*----HOW IT WORKS----*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    height: 50%;
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 100%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    font-weight: 300;
    float: left;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*----CITY FEATURE----*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.City-feature {
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
    font-size: 100%;
    line-height: 100%;
    vertical-align: middle;
}

.City-feature p {
    display: inline-block;
    text-align: left;
}

/*----SECTION TESTIMONIAL----*/

.section-testimonial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/back-customers.jpg);
    background-attachment: fixed;
    background-size: cover; 
    color: #FFFFFF;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote:before {
    content: "\201C";
    font-size: 350%;
    display: block;
    position: absolute;
    left: -5px;
    top: 0px;
}

cite {
    display: block;
    font-size: 80%;
    margin-top: 25px;
}

cite img {
    height: 50px;
    border-radius: 100px;
    margin-right: 10px;
    vertical-align: middle;
}

/*----SECTION PLAN----*/

.section-plan {
    background-color: #F4F4F4;
}

.plan-box {
    width: 90%;
    background-color: #ffffff;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-radius: 10px;
}

.plan-box div:last-child {
    text-align: center;
}

.plan-price {
    color: #e67e22;
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;    
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
    font-size: 100%;
}

.plan-box ul li ion-icon {
    font-size: 60%;
    padding: 0 8px;
    color: #e67e22;
}

.short-meal {
    height: 162px;
}

/*----FORM----*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

#name,
#email,
#find-us,
#message {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

input[type=checkbox] {
    margin: 10px 5px 0 0;
}

*:focus {
    outline: none;
}

/*----FOOTER----*/

footer {
    background-color: #333333;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-nav {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-nav li {
    display: inline-block;
    margin-left: 20px; 
}

.footer-nav li:first-child {
    margin-left: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited {
    text-decoration: none;
    color: #888888;
    font-size: 15px;
}

.social-nav li a:link,
.social-nav li a:visited {
    font-size: 80%;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #dddddd;
    transition: color 0.2s;
}

#facebook:hover,
#facebook:active {
    color: #3b5998;
}

#twitter:hover,
#twitter:active {
    color: #1da1f2;
}

#linkedin:hover,
#linkedin:active {
    color: #0a66c2;
}

#pinterest:hover,
#pinterest:active {
    color: #bd081c;
}

#instagram:hover,
#instagram:active {
    color: #c32aa3;
}

#facebook:hover,
#twitter:hover,
#linkedin:hover,
#pinterest:hover,
#instagram:hover {
    transition: color 0.2s;
}


footer p {
    color: #888888;
    margin: 70px 0 30px 0;
    text-align: center;
    font-size: 80%;
}











